/*#iprincipal{
    background-image: url(../img/ba1.jpg);
    background-size: cover;

}*/

/* The absolute elements are positioned relative to their parent (div)*/


.card-img{
    opacity: 0.5 ;
    
    
}

.card-title{
    font-size: 68px;
}

.card-text{
    font-size: 32px;
}

.btn{
    font-size: 32px;
}

.card-group{
    margin-top: 3%;
}

.footer{
    background-color: rgb(30, 88, 139);
    background-image: linear-gradient(to right, rgb(21, 62, 69),rgb(11, 76, 91));
    height: 4cm;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align-last: center;
    
}

.row{
    color: aliceblue;
    font-size: 10px;
    margin-top: 1cm;
}

#botonEnviar{
    background-color: #3bcd21;
    border-color: #3bcd21;
}